.title {
    text-align: center;
    margin-top: 64px;
}

.divContent {
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
}

.itemsForm {
    display: flex;
    flex-direction: column;
}

.inputForm {
    padding: 4px 0px 4px 0px;
    border-radius: 8px;
}

.buttonForm {
    border-radius: 8px;
    padding: 8px;
    background-color: var(--corSecundaria);
    border: none;
    font-weight: bold;
    color: var(--corPrincipal);
    margin-top: 8px;
    margin-bottom: 8px;
}

.spanResult {
    font-weight: bold;
}